absl-py
annotated-types
anyio
astunparse
bcrypt
certifi
cffi
charset-normalizer
click
cryptography
ecdsa
fastapi
flatbuffers
gast
google-pasta
greenlet
grpcio
h11
h5py
idna
keras
libclang
Markdown
markdown-it-py
MarkupSafe
mdurl
ml_dtypes
namex
numpy
opencv-python-headless
opt_einsum
optree
packaging
passlib
pgvector
protobuf
psycopg2-binary
pyasn1
pycparser
pydantic
pydantic-settings
pydantic_core
Pygments
PyJWT
python-dotenv
python-jose
python-multipart
requests
rich
rsa
scipy
setuptools
six
sniffio
SQLAlchemy
starlette
tensorboard
tensorboard-data-server
tensorflow
termcolor
typing_extensions
urllib3
uvicorn
Werkzeug
wheel
wrapt
facenet-pytorch
